#header{
    min-width: 780px;
    
}
.container-fluid{
    padding-left:0px;
    padding-right: 0px;
    min-width: 880px;
}
.navbar{
    background: #0089dc;
    color: #fff;
    margin-bottom: 10px;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size:large;
}
.navbar-header,#navbar-brand{
    color: #fff;
    width:100px;
    font-size:x-large;
    font-weight: bold;
    text-align:center
}

#logCheck>button,#logCheck>form>button{
    background: #0089dc;
    color: #fff;
}
.login{
    max-width: 300px;
    float: right;
}
.body{
    width: 100%;
    height:auto;
}


.food_kind{
        background: hsla(0,0%,100%,.8);
        color: #000000;
}
.food_kind>a{
        color: #000000;
        width: 100%;
        height:100%;
}

.left{
	position: fixed;
left: 0;
top: 62px;

        /*float: left;*/
        width: 100px;
        padding: 0px;
        border: 0px;
        margin: 0px;
        background-color: #f6f9fa;
    border: 1px solid #e5e9ef;
    border-radius: 4px;
    font-size: small;
    padding: 0px;
}


.food_list{
	 display: block;
    position: relative;
    min-height: 600px;
margin-left: 100px;
}
.food_ul{
    display: block;
    position: relative;
    min-height: 600px;
	padding:0px;
}
.food_li{
    width: 242px;
    height: 288px;
    float: left;
    display: list-item;
    text-align: -webkit-match-parent;
}

.food_li:nth-child(4n+1) .food_outer{left:0}
.food_li:nth-child(4n+2) .food_outer{left:242px}
.food_li:nth-child(4n+3) .food_outer{left:484px}
.food_li:nth-child(4n+4) .food_outer{left:726px}

.food_outer {
    padding: 10px 10px 10px 10px;
    background-color: #fff;
    width: 210px;
    height: 280px;
    margin: 0px 16px 10px 16px;
    background-color: #f6f9fa;
    border: 1px solid #e5e9ef;
}

.food_inner {
    position: absolute;
     width: 188px;
    height: 258px;
    padding:0px;
    margin: 0px;
}

.food_img{
    height: 156px;
    width: 188px;
    border: 1px solid #eaeaea;
    background-color: #fff;
    position: relative;
    text-align: center;
    line-height: 152px;
}

.scroll-loading {
            width: 100%;
    height: 100%;
            vertical-align: middle;
    background-image: url(http://xs01.meituan.net/waimai_web/img/dyl_1.png);
    background-position: center;
    background-repeat: no-repeat;
}

.food_price {
        float:right;
    font-family: arial;
        letter-spacing: 0.8px;
            color: #99CCCC;
    font-weight: 700;
}
.food_description{
    color: #999;
    margin-top: 3px;
        font-size: 12px;
}





ul,li{
list-style: none;
}

/*星级评分底部对齐*/

.rate{
    position: absolute;
    bottom: 2px;
}

<!--multi-->
#find_user{
    margin-top:0px;
     position:relative;
}
