.header{
    position: relative;
    min-width: 1032px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    background-clip: content-box;
    z-index: 100;
}
.header-inner{
    display: flex;
    padding: 0 5px 0 5px;
    align-items: center;
}
.header-nav{
    display: flex;
    height: 30px;
    margin-right: 18px;
    margin-left: 27px;
    color: #999;
        justify-content: space-between;
            -webkit-box-pack: justify;
}