.shoplist_contianer{
    background: linear-gradient(135deg, #5e0231 0%, #ff6767 100%);
    width:300px;
}
.title {
    text-align: center;
    position: relative;
}

.cartitem {
    margin: 0px 20px;
    padding: 20px 0;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    position: relative;
}
.cartitem_image {
    width: 70px;
    display: inline-block;
    vertical-align: top;
}

.cartitem_content {
    display: inline-block;
    width: 180px;
    vertical-align: top;
    margin: 0 0 0 10px;
}

.cartitem_price {
    position: absolute;
    top: 20px;
    right: 0px;
}

.cartitem_quantity {
    border: 1px solid white;
    width: 96px;
    position: absolute;
    bottom: 22px;
}

.down, .up{
    border: none;
    width: 10px;
    height: 10px;
    margin: 6px 8px;
    padding: 0px;
    display: inline-block;
    vertical-align: middle;
    color: inherit;
}

.cartitem_quantity input {
    color: inherit;
    display: inline-block;
    vertical-align: middle;
    background: transparent;
    border: none;
    width: 30px !important;
    height: 32px;
    text-align: center;
    font-weight: normal;
    margin: 0;
}

 .cartitem_remove {
    position: absolute;
    top: 100px;
    right: 0px;
}