.item-body{
    background: #fcfcfc;
        display: block;
         border-bottom: 1px solid #e7e7e7;
}
.td{
 overflow: hidden;
    float: left;
    min-height: 119px;
}
.td-inner, .th-inner{
    padding-top: 20px;
    _zoom: 1;
}
.td-chk, .th-chk{
   display: list-item;
    width:10%;
   
}
.cart-checkbox {
    position: relative;
    display: inline-block;
    height: 15px;
    overflow: hidden;
}
.td-item, .th-item{
    width:25%;
    display: list-item;
}
.item-content .img-loaded {
    background: #fff;

}
.item-content{
    padding:0px;
}
.item-pic {
    width: 40%;
    height: 80px;
    border: 1px solid #eee;
    float: left;
    overflow: hidden;
    background: #fff url(//gtd.alicdn.com/tps/i3/T1b1m3XkVpXXXXXXXX-32-32.gif) no-repeat 50% 50%;
}
.td-item .item-info {
    margin: -3px 0 0 91px;
    padding-right: 25px;
}
.th-info{
    width: 12%;
    padding-right: 20px;
    color: #9c9c9c;
}
.td-info{
     width: 12%;
    padding-right: 20px;
    color: #9c9c9c;
}
td-info .td-inner{
    padding-right:5px;
}
.th-price, .td-price {
    width: 9%;
}
.th-amount, .td-amount {
    width: 9%;
    min-width: 100px;
}
.th-sum, .td-sum {
    width: 10%;
}
.th-op, .td-op {
    width: 10%;
    padding: 0 0 0 15px;
}
.item-content .item-amount {
    height: 25px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}


.item-content .text-amount {
    width: 39px;
    height: 15px;
    line-height: 15px;
    border: 1px solid #aaa;
    color: #343434;
    text-align: center;
    padding: 4px 0;
    background-color: #fff;
    background-position: -75px -375px;
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 0;
}


<!--head-->
.cart-table-th {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: #3c3c3c;
     border: 1px solid #e7e7e7;
}
.wp {
    height: 50px;
    margin: 0 auto;
    
}

.th{
    float:left;
    height:50px;
}





.select-all{
    padding-top:20px;
}

.text-amount{
    float: left;
    width:50px;
    margin-left:auto;margin-right:auto;
}


ul,li{
list-style: none;
}

/*plus*/


/*bottom */
.fixed-bottom {
    position: fixed;
    bottom: 0px;
    z-index: 9999;
    background: #e5e5e5;
    height: 50px;
    width: 100%;
}

float-bar-left{
    float: left;
    width:50%;

}
.float-bar-right {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
    padding-left: 20px;
    width: 50%;
}
.amount-sum{
    float: left;
    width:40%;
}
.price-sum{
    float: left;
    width:40%;
}
.btn-area{
float: left;
 width:20%;
}

.amount-sum em,.price em{
    color: #f40;
    font-weight: 400;
    font-size: 18px;
    line-height: 48px;
    font-family: Arial;
    vertical-align: middle;
}

.txt {
    line-height: 48px;
    font-family: tahoma, arial, "Hiragino Sans GB", 宋体, sans-serif;
}
.submit-btn {
    display: inline-block;
    width: 120px;
    height: 50px;
    line-height: 50px;
    background: #f40;
    text-align: center;
    font-family: 'Lantinghei SC','Microsoft Yahei';
    font-size: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
}